doctype html
html
  head
    title #{title}
    script(src='/zepto.min.js')
    script(src='/live-refresh.js')
    style
      include ./github-markdown.css
      :stylus
        .markdown-body
          min-width 200px
          max-width 790px
          margin    0 auto
          padding   30px
    style !{css}
  body
    .markdown-body !{body}
