doctype html
html
  head
    title #{title}
    script(src='/zepto.min.js')
    script(src='/live-refresh.js')
    style
      include ./github-markdown.css
      :stylus
        .container
          width         980px
          margin-left   auto
          margin-right  auto
        .markdown-body
          border        solid 1px #ddd
          padding       45px
    style !{css}
  body
    .container
      .markdown-body !{body}
