doctype html
html
  head
    title markfound
    style !{css}
  body.index
    each b, bindex in bases
      h1= b.basePath
      ul
        each f in b.files
          li
            a(href=bindex + '/' + f)= f
